@media screen and (max-height: 768px) {
    #description {
        height: 270px;
    }
    #wrapper{
        height: 870px;
    }
    .images img{
        height: 380px;
    }
}
@media screen and (min-height: 768px) {
    #description {
        height: 250px;
    }
    #wrapper{
        height: 850px;
    }
    .images img{
        height: 420px;
    }

}
