* {
    margin: 0;
    padding: 0;
}
.headerInner{
    margin-right: 10%;
    height: 90px;
    width: 100%;
}
.headerInner .icon{

    background-size: cover;
    display: inline-block;
    height: 100px;
    width: 100px;
    background-image: url(images/images.jpg)
}
nav{
    height: 40px;
    background: white;
    font-size: 18px;
    font-family:  'PT Sans', Arial, sans-serif;
    font-weight: bold;
    position: relative;
    text-align: center;
    min-width: 960px;
}

nav ul {
    padding: 0;
    position: relative;
}
ul.menu li {
    display: inline;
    margin-right: 1%;
    float: right;
    padding: 3px;
    margin-top: 60px;
}
.active{
        color:#08477d;
}
.menu a{
    color:#74B3C6;
    text-decoration: none;
}
nav a#pull {
    display: none;
}

#wrapper{
    min-width: 960px;
    height: 1420px;
    min-height:100%;
    margin-top: 10px;
}
.images{
    width: 100%;
    height: 356px;

}
.images img{
    margin: 0;
    padding: 0;
    border: 0;
    float: left;
    display: inline-block;
    width: 33.33%;
    height: 430px;
    background-size: cover;
}
.images_company {
    background: url(images/company.jpg) no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: cover;
    width: 100%;
    height: 100%;


}
.text_company,.text_contacts {
    position: absolute;
    height: 70%;
    width: 30%;
    background: white;
    opacity:.9;
    margin-top: 5%;
    margin-left: 37%;
}
.font_1 {
    margin-top: 10%;
    margin-left: 10%;
    letter-spacing: 0.1em;
    font: normal normal normal 32px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
    color: rgba(94,93,93,1);
}
.font_2{
    font-size: 20px;
}
.text_company p{
    margin: 10%;
}
.formRight{
    margin-left: 1%;
    width: 15%;
    border-left-width: 20px;
    padding-left: 15%;
    padding-top: 2%;
    height: 62%;
    display: inline-block;
}
.text_contacts h3, .text_contacts p{
    padding-left: 15%;
}
iframe{

    height: 100%;
    background-color: white;
}
.container{
    height: 430px;
}
.sticker-blue{
    background: url(images/sticker1.png) no-repeat;
    display: inline-block;
    width: 33%;
    height: 100%;
    background-size: cover;
}
.sticker-green{
    background: url(images/sticker2.png) no-repeat;
    display: inline-block;
    width: 33%;
    height: 100%;
    background-size: cover;
}
.font-sticker{
    margin-left: 4%;
    margin-top: 9%;
    position: absolute;

}

#footer{
    height: 10px;
    position: relative;
    left: 0;
    bottom: 0;
    margin-top: 10px;
    margin-bottom: 20px;
}
#footer,.footerInner {
    width: 100%;
}
.footerInner, #footer h3, .following, .following p, .following img{
    display: inline-block;
}
.following{
    float: right;
}
.footerInner h3{
    margin-left: 20%;
    margin-top: 10px;
    border-bottom-width: 20px;
    margin-bottom: 15px;

}
.following{
    margin-right: 15%;
    font-weight: bold;
    margin-top: 60px;
}
.following p{
    margin-right: 30px;
}
.following img {
    width: 30px;
    height: 30px;
}



