* {
    margin: 0;
    padding: 0;
}
header{
    margin-top: 1%;
}
body{
    overflow-x: hidden !important;
    width: 100%;
}

nav{
    height: 40px;
    background: white;
    font-size: 18px;
    font-family:  'PT Sans', Arial, sans-serif;
    font-weight: bold;
    position: relative;
    text-align: center;
    min-width: 960px;
}

nav ul {
    padding: 0;
    position: relative;
}
ul.menu li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 3%; /* Отступ слева */
    padding: 3px; /* Поля вокруг текста */
}
.menu li:last-child{
    margin-left: 10%;
}
.menu a{
    color:#74B3C6;
    text-decoration: none;
}
nav a#pull {
    display: none;
}
.menu li:first-child a{
    color:#08477d;
}
#wrapper{
    min-width: 960px;
    text-align: center;
    min-height:100%;
}
.mainContent,.imageBackground,.colorBackground {
    width: 100%;
    height: 600px;
}
.container,.imageBackground,.colorBackground,.mainContent h1,.mainContent h5,.formContainer,#description
{
    position: absolute;
}
.mainContent,.container, .imageBackground,.colorBackground,.mainContent h1,.mainContent h5  {
    min-width: 960px;
}
.mainContent{
    left: 0;
    overflow: auto;
    display: flex;
    justify-content: center;
}

.container{
    height: 600px;;
    width: 80%;
    top: 50px;
}
.imageBackground {
    background:  url(images/Object_3.jpg) no-repeat;
    background-size: cover;
}
.colorBackground{
    background-color: #9CC4CB;
    opacity:.8;
    background-size: cover;
}
.mainContent h1 {
    top: 10px;
    width: 100%;
    color: white;
    font-size: 38px;
}
.mainContent h5 {
    top: 55px;
    right: 17%;
    width: 100%;
    color: white;
    font-size: 18px;
}
.formContainer{
    width: 100%;
    height: 100%;
    top: 25%;
}

iframe{
    padding-left: 5%;
    padding-right: 5%;
    height: 100%;
    background-color: white;
}
.formRight h2{
    font-weight: bold;
    margin-bottom: 5%;
}
.font_1 {
    margin-top: 5%;
    margin-left: 10%;
    letter-spacing: 0.1em;
    font: normal normal normal 26px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
    color: rgba(94,93,93,1);
}
 input, textarea{
    width: 90%;
    padding: 10px 10px 6px 10px;
    border: 1.5px solid transparent ;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
    margin-bottom: 10px;
    font-size: 1.0em;
}
 textarea{
    font-size: 1.5em;
     width: 90%; /* Ширина поля в процентах */
     height: 80px; /* Высота поля в пикселах */
     resize: none
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #bac4c3;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #bac4c3;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #bac4c3;
}
:-moz-placeholder { /* Firefox 18- */
    color: #bac4c3;
}
 button{
    background-color: #74B3C6;
    opacity:.8;
    color: white;
    width: 100%;
    height: 40px;
    font-size: 20px;
    font-family: "Bitter",serif;
    box-shadow: none;
    border-radius: 0;
    border-color: #74B3C6;
    margin-top: 2%;
}
button:focus {
    outline: none
}

#description{
    background-color: #9CC4CB;
    opacity:.8;
    width: 100%;
    max-height: 600px;
    left: 0;
    overflow: auto;
    display: flex;
    justify-content: center;

}

.descriptionInner{

    font-family:Georgia;
}
#description h2{
    text-align: left;
    font-size: 30px;
    margin-bottom: 2%;
    margin-top: 2%;
}
#description p{
    text-align: left;
}

#footer{
    height: 10px;
    position: relative;
    left: 0;
    bottom: 0;
}
#footer,.footerInner {
    width: 100%;
}
.footerInner, #footer h3, .following, .following p, .following img{
    display: inline-block;
}
.following{
    float: right;
}
.footerInner h3{
    margin-left: 20%;
    font-family: Akzidenz Grotesk Bold,sans-serif;

}
.following{
    margin-right: 15%;
    font-weight: bold;
}
.following p{
    margin-right: 30px;
}
.following img {
    width: 30px;
    height: 30px;
}



