@media screen and (max-width: 768px){
    * {
        margin: 0;
        padding: 0;
    }
    body{
        overflow-x: hidden !important;
        width: 100%;
    }
    #wrapper_c {
        height: 810px;
        min-width: 1100px;
    }
    .headerInner {

        height: 105px;
    }
    .mainContent h1 {
        right: 1%;
    }
    .images_company {
        background: url(images/Object_2.jpg) no-repeat;
    }
    .text_company, .text_contacts {
        height: 70%;
        width: 20%;
        margin-left: 23%;
    }
    #description {
        height: 300px;
    }
    .descriptionInner {
        margin-left: 10%;
        margin-right: 10%;
    }
    .mainContent .image{
        display: none;
    }
    .formRight {
        margin-left: 25%;
        width: 15%;
        height: 67%;

    }
    #footer{
        min-width: 1100px;
    }
    .footerInner h3 {
        margin-left: 15%;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    * {
        margin: 0;
        padding: 0;
    }
    body{
        overflow-x: hidden !important;
        width: 100%;
    }
    #wrapper_c {
        height: 610px;
        margin: 0 auto;
    }
    .headerInner {

        height: 105px;
    }
    .mainContent h1 {
        right: 1%;
    }
    #description {
        height: 300px;
    }
    .descriptionInner {
        margin-left: 10%;
        margin-right: 10%;
    }
    .text_company, .text_contacts {
        height: 75%;
        width: 45%;
        margin-left: 30%;
        margin-top: 2%;
    }
    .formRight {
        margin-left: 25%;
        width: 15%;
        height: 67%;

    }
    #footer{
        min-width: 1100px;
    }
    .images_company {
        background: url(images/company.jpg) no-repeat;

    }


}
